* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}
body {
    background: #865050;
    margin: 0 auto;
  }

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem; 
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0  50 0 0px;
    
}

.logo
{
    width: 80px;
    background-image: none;
    height: 80px;
    padding: 10px;
    margin-top: 1rem;
}
#navbar__logo {
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    background-clip: content-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
    width: 100px;
}

.navbar__links {
    color: #fff;
    display: flex;
    width: 70px;
    float: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    background: #4837ff;
    transition: all 1s ease;
  }

.navbar__links:not(:hover) {
    background-color: #131313;
    transition: all 1s ease;
    }

.navbar__btn {
    display: flex;
    content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px, 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;

}

.button:hover {
    background: #4837ff;
    transition: all 1s ease;
  }

.button:not(:hover) {
    background-color: #f77062;
    transition: all 1s ease;
    }